<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Awesome Store</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@300;400;500;700;900&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="product.css">
    <link rel="stylesheet" href="global.css">
</head>

<body>
    <header class="header">
        <a href="/">
            <span>go back</span>
        </a>
        <a class="logo" href="/">
            <h1>Awesome Store</h1>
        </a>
    </header>
    <main class="product">
        <img class="product__img" src="<%= product.image %>" alt="imagem de uma camisa">
        <div class="product__info">

            <div class="wrapper">
                <h2>
                    <%= product.title %>
                </h2>
                <p>(id:
                    <%= product.id %>)
                </p>
            </div>
            <p>Categoria: <span class="bold">
                    <%= product.category %>
                </span></p>
            <p>Quantidade: <span class="bold">
                    <%= product.rating.count %>
                </span></p>
            <p>Avaliação: <span class="bold">
                    <%= product.rating.rate %>
                </span></p>
            <p>Valor médio de venda: <span class="bold">
                    <%= product.price %>R$
                </span></p>
            <p>Descrição:
                <span>
                    <%= product.description %>
                </span>
        </div>
    </main>

</body>

</html>