<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>awesome</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@300;400;500;700;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="product.css">
    <link rel="stylesheet" href="global.css">
</head>
<body>
    <header class="header"><a href="/"><span>go back</span></a><a class="logo" href="/"><h1>awesome</h1></a></header>
    <main class="product">

        <img class="product__img" src="https://avatars.dicebear.com/api/initials/:<%= produto.name %>.svg" alt="imagem de uma camisa">
        <div class="product__info">
            
            <div class="wrapper">
                <h2><%= produto.name %></h2>
                <p>(id: <%= produto.id %>)</p>
            </div>
            <p>Categoria: <span class="bold"><%= produto.category %></span></p>
            <p>Quantidade: <span class="bold"><%= produto.amount %></span></p>
            <p>Valor médio de venda: <span class="bold"><%= produto.media %>R$</span></p>
            <p>Descrição: 
                <span>
                    <%= produto.description %>
                </span>
            </div>
    </main>

</body>
</html>